.card {
  background-color: var(--color-dark-blue);
  margin: 1rem auto 1.5rem;
  padding: 1.5rem 1rem;
  border-radius: 20px;
  position: relative;
}

.bold {
  font-weight: 600;
  font-size: 18px;
}

.small {
  font-size: 11px;
}

.topSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.imageContainer {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.imageContainer img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-bottom: 0.5rem;
}

.imageContainer a {
  color: var(--color-offWhite);
  background-color: var(--color-darker-blue);
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.imageContainer a:hover {
  background-color: var(--color-light-blue);
  transform: scale(1.02);
}

.imageContainer a:active {
  transform: scale(1.05);
}

.infoContainer h1 {
  font-size: 20px;
  line-height: 1;
  font-family: "Noto Sans Mono", monospace;
  margin-bottom: 0;
  color: #fff;
}

.infoContainer h2 {
  color: var(--color-light-blue);
  font-size: 12px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.infoContainer p {
  font-family: "Noto Sans Mono", monospace;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
  color: var(--color-light-grey);
}

.middleSection {
  font-family: "Noto Sans Mono", monospace;
  font-size: 14px;
}

.middleSection .bio {
  line-height: 1.7;
  display: block;
  color: var(--color-light-grey);
}

.reposAndFollowers {
  background-color: var(--color-darker-blue);
  padding: 0.7rem 2rem;
  margin: 1.3rem auto;
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
}

.reposAndFollowers p {
  display: inline;
  margin: 0.5rem auto;
}

.reposAndFollowers .tableSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0.3rem;
}

.bottomContainer {
  padding: 0 0.3rem;
}

.bottomContainer p,
.bottomContainer a {
  margin: 0.5rem 0;
  font-family: "Noto Sans Mono", monospace;
  font-size: 12px;
  text-decoration: none;
  color: var(--color-white);
}

.bottomContainer i {
  font-size: 1.3rem;
  width: 20px;
  height: 20px;
}

.bottomContainer .noInfo {
  color: rgba(220, 220, 220, 0.7);
}

#light .bottomContainer .noInfo {
  color: rgba(110, 110, 110, 0.6);
}

.bottomContainer .row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#light .card {
  background-color: var(--color-off-white);
}

#light .reposAndFollowers,
#light .imageContainer a {
  background-color: rgb(90, 90, 90);
}

#light .card p,
#light .bottomContainer a,
#light .card h1,
#light .card i {
  color: var(--color-dark-grey);
}

#light .tableSection p {
  color: var(--color-white);
}

#light .imageContainer a:hover {
  background-color: var(--color-orange);
}

#light .card h2 {
  color: var(--color-orange);
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .card {
    padding: 2rem;
  }

  .topSection {
    gap: 2rem;
  }

  .imageContainer {
    width: 120px;
  }

  .imageContainer a {
    font-size: 0.7rem;
  }

  .imageContainer img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    margin-bottom: 1rem;
  }

  .bottomContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;
  }

  .row {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    padding: 2rem 3rem;
  }

  .topSection {
    gap: 3rem;
    align-items: flex-start;
  }

  .infoContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .imageContainer {
    width: 150px;
  }

  .imageContainer a {
    font-size: 0.85rem;
  }

  .imageContainer img {
    width: 150px;
    height: 150px;
  }

  .infoContainer {
    width: 75%;
    margin-left: auto;
  }

  .card p.bio {
    margin: 0;
  }

  .middleSection {
    width: 75%;
    display: block;
    margin: 0 0.5rem 0 auto;
  }

  .bottomContainer {
    width: 75%;
    margin: 0 0 0 auto;
    padding-right: 0;
  }

  .infoContainer h2 {
    margin: 0.7rem 0;
  }
}

@media screen and (min-width: 1601px) {
  .card {
    padding: 3rem 4rem;
  }
}
