.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:1rem auto;
}

.header p {
    font-family: 'Noto Sans Mono', monospace;
    text-transform: capitalize;
}

.header p i {
    margin-left:.1rem;
    font-weight:600;
}

#light .header {
    color: var(--color-dark-grey);
} 