.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.header p {
    font-family: 'Noto Sans Mono', monospace;
    text-transform: capitalize;
}

.header p i {
    margin-left:.3rem;
    font-weight:600;
}
.header .themeSwitch {
    cursor:pointer;
}

#light .header {
    color: var(--color-dark-grey);
} 

@media screen and (min-width:768px) {
    .header {
        margin:4rem auto 1rem;
    }
}
