.repo {
    background-color: var(--color-darker-blue);
    padding: 1.5rem 1.5rem 1rem;
    margin: .7rem 0;
    border-radius:20px;
}

.repo .name,
.repo .column,
.repo .description {
    font-family: "Noto Sans Mono", monospace;
}

.repo .name {
    margin: 0;
    font-size:1rem;
    font-weight: bold;
    text-decoration: underline;
}

.repo .description,
.repo .language {
    color: var(--color-light-grey);
}

.repo .description {
    font-size:.9rem;
}

.repo .language {
    font-weight: bold;
    font-size: .8rem;
    margin-bottom: 1.5rem;
    color: var(--color-light-blue);
}

.repo a {
    background-color: var(--color-light-blue);
    color: var(--color-white);
    padding: .5rem;
    border-radius: 20px;
    text-decoration: none;
    font-size: .85rem;
    font-weight: 500;
    text-align: center;
    display: block;
    width:30%;
    margin: 0 auto;
    transition: all .3s ease-in-out;
}

.repo a:hover {
    background-color:#1f51dd;
}

.repo a:active {
    transform: scale(1.05);
}

.repo .container {
    background-color: #1d2844;
    padding: 0.5rem 1.5rem;
    margin: .7rem 0;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
}

.repo .column {
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    color: var(--color-white);
}

.repo .column p {
    margin: 0 0 .5rem;
}

.repo .column i {
    font-size: 1em;
    margin-bottom:.7rem;
    color: var(--color-off-white);

}

.repo .column .tableContent {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
}

#light .repo .language {
    color: var(--color-orange);
}

#light .repo a {
    background-color: var(--color-orange);
} 

#light .repo a:hover {
    background-color: rgb(216, 142, 32);
} 

#light .repo {
    background-color: rgb(150,150,150);
}

#light .repo .container {
    background-color: rgb(90, 90, 90);
}

#light .repo .container p,
#light .repo .container a {
    color: var(--color-off-white);
}

#light .repo .description {
    color:rgb(90, 90, 90);
}

#light .repo .name {
    color: rgb(85,85,85);
}


@media screen and (min-width: 768px) {
    .repo {
        padding: 2rem z;
    }

    .repo .container {
        width: 65%;
        margin: .7rem auto;
    }
} 

@media screen and (min-width: 1024px) {
    .repo {
        padding: 2.5rem 3.5rem 2rem ;
    }

    .repo .container {
        width: 60%;
        margin: .5rem auto 1.2rem;
    }

    .repo a {
        width: 7rem;
    }
} 