.App {
  width:90%;
  margin: 0 auto;
  color: var(--color-white);
}

.error {
  text-align: center;
  background-color: var(--color-dark-blue);
  padding: 1rem;
  margin: 1.5rem auto 0;
  border-radius: 20px;
  font-size: 1.2rem;
  width:70%;
  font-family: 'Noto Sans Mono', monospace;
}