.App {
  width: 90%;
  margin: 0 auto;
  color: var(--color-white);
}

.error {
  text-align: center;
  padding: 1rem;
  margin: 1.5rem auto 0;
  border-radius: 20px;
  font-size: 1.2rem;
  width: 70%;
  font-family: "Noto Sans Mono", monospace;
  background-color: var(--color-dark-blue);
  transition: background-color 0.3s ease;
}

#light .error {
  background-color: var(--color-dark-grey);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .App {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1600px) {
  .App {
    width: 60%;
  }
}

@media screen and (min-width: 1601px) {
  .App {
    width: 40%;
  }
}
